.flavor-list-page {
	.flavor-list {
		padding: 2px;
		display: flex;
		flex-direction: column;

		.flavor {
			display: block;
			border: solid 1px #888;
			margin: 2px;
			padding: 2px;
			background: linear-gradient(to bottom, #ffeaea, #c1c1c1);
			flex: 1 0 auto;

			.name {
				color: #000;
				font-size: 1em;
			}

			.vendor {
				font-size: 0.6em;
				color: #888;
			}
		}
	}
}
