.liquid-page {
	table.flavor-list {
		border-collapse: collapse;

		tbody tr:nth-child(odd) {
			background-color: #eee;
		}

		td, th {
			padding: 4px;
			margin: 0;
			border: none;
		}

		tbody tr.flavor {
			.flavor-name {
				font-weight: bold;
			}
			.vendor-name {
				font-style: italic;
				font-size: 0.8em;
				color: #888;
			}
		}
	}

	.description {
		background: lightgoldenrodyellow;
		font-style: italic;
		padding: 10px;
		text-align: justify;
		white-space: pre-wrap;
	}
}
