@import "../colors";

.liquid-search-page {
	position: relative;

	.curtain {
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
		background: transparentize($mui-primary-color-light, 0.5);
		z-index: 10;

		&.visible {
			display: block;
		}

		svg {
			position: absolute;
			left: 50%;
			top: 100px;
			animation: awaitor infinite 1s 0s linear;

			circle {
				fill: $mui-primary-color-dark;

				&:first-child {
					fill: transparentize($mui-primary-color-light, 0.5);
					stroke: transparentize($mui-primary-color-dark, 0.5);
					stroke-width: 2px;
				}
			}
		}

		@keyframes awaitor {
			from {
				transform: translate(-50%, -50%) rotate(0deg);
			}
			to {
				transform: translate(-50%, -50%) rotate(360deg);
			}
		}
	}

	.flavor-list {
		padding: 2px;
		display: flex;
		flex-direction: column;

		.flavor {
			display: block;
			border: solid 1px #888;
			margin: 2px;
			padding: 2px;
			background: linear-gradient(to bottom, #ffeaea, #c1c1c1);
			flex: 1 0 auto;

			.name {
				color: #000;
				font-size: 1em;
			}

			.vendor {
				font-size: 0.6em;
				color: #888;
			}
		}
	}
}
