.bottle {
	background: transparent url(../../public/img/bottle.svg) no-repeat 0 0;
	width: 110px;
	height: 352px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;

	& > div {
		color: #fff;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		flex: 0 0 34px;
		line-height: 34px;
		&:last-child {
			flex-basis: 42px;
		}

		&.ad {
			color: #444;
		}

		& > div {
			text-align: center;

			&:nth-child(1),
			&:nth-child(3) {
				flex: 0 0 30%;
				font-size: 0.8em;
			}
			&:nth-child(2) {
				flex: 1 0 auto;
				font-weight: bold;
			}
		}

		height: 20px;
	}
}
