// import MUI colors
@import "../node_modules/muicss/lib/sass/mui/colors";

$theme: 'indigo';

// customize MUI variables
$mui-primary-color:       mui-color($theme, '500');
$mui-primary-color-dark:  mui-color($theme, '700');
$mui-primary-color-light: mui-color($theme, '100');

$mui-accent-color:        mui-color($theme, 'A200');
$mui-accent-color-dark:   mui-color($theme, 'A100');
$mui-accent-color-light:  mui-color($theme, 'A400');
