@import "./colors";
@import "../node_modules/muicss/lib/sass/mui";

body {
	background-color: mui-color($theme, '50');
}

a, a:hover, a:active {
	text-decoration: none;

	.mui-appbar & {
		color: mui-color($theme, '50');
	}
}

#contents {
	padding: 20px;
	box-sizing: border-box;
}

.mui-dropdown__menu > li > a {
	position: relative;
}
.mui-dropdown__menu > li > a:before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 100%;
	color: $mui-primary-color;
	position: absolute;
	left: 4px;
	top: 4px;
	font-size: 1em;
	line-height: 1em;
	overflow: hidden;
}
.mui-dropdown__menu > li.checked > a:before {
	content: "✔️";
}
